<%= render "shared/breadcrumb" ,links: [["首页",root_path]] %>
<div class ="content">
  <div class ="box box_gray">
    <div id="node_info>
      <div>
        <h2><%= @node.name %></h2>
        <span class="total"><%= "共有 #{@node.topics.count} 个讨论主题" %>
      </div>
      <p>
        = simple_format(@node.description)
      </p>
    </div>
    <div class = "topics">
     <%= render 'topics/topic_list' , topics: @topics %>
    </div>
  </div>
</div>
   
