<ul class="recent_replies"
  <% replies.each do |reply| %>
    <% next if reply.topic.blank? %>
    <li>
      <div class= "title">
        <%= link_to(reply.topic.title, topic_path(reply.topic_id)) %>
        <span class="info"> at <%= time_ago_in_words(reply.created_at) %> </span>
      </div>
      <div class="body">
        <%= raw reply.content %>  
      </div>
    </li>
  <% end %>
</ul>
