<div class="recent_topics box">
  <h2 class="title">最近发表的帖子</h2>
  <ul>
    <li>
      <span class="node"><%= link_to topic.node.name,topic.node %></span>
      <%= link_to topic.title, topic %>
      <span class="info"> as <%= time_ago_in_words(created_at) %> </span>
    <li>
  </ul>
</div>
