<div class="sidebar">
  
  <%= render "shared/nodes_list" %> 
  
  <div class="box" style="text-align:center;">
    <h2><a href="/topics/10122">升级浏览器方法</a></h2>
    <div class="content">
      <p class="alert alert-info">一条资讯，一个段子；生活中的某一刻，或者对整个世界的看法。和朋友们一起，享受分享的乐趣。</p>
      <a href="/topics/new" class="btn btn-danger">我来发一帖</a>
    </div>
  </div>

  
  <div class="box ">
    <h2>论坛统计</h2>
    <ul class="alert alert-info">
      <li>论坛会员数:<%= @user_count %> </li>
      <li>论坛帖子数:<%= @topic_count %></li>
      <li>论坛回帖数:<%= @reply_count %></li>
    </ul>
  </div>

  
  <div class="box clearfix">
    <h2>网站链接</h2>
    <ol>
      <li><a href="http://www.ahnanxiang.com.cn" target="_blank">安徽南翔集团网站 </a></li>
      <li><a href="http://www.dmax.com.cn"  target="_blank">DMAX邮箱</a></li>
      <li><a href="http://mail.ahnanxiang.com.cn" target="_blank">ahnanxiang邮箱</a></li>
      <li><a href="http://218.22.130.2:7890" target="_blank">协同办公平台</a></li>
    </ol>
  </div>

</div>
