<div class="sidebar">
  <div class="box">
    <h2 class="title">注册须知</h2>
    <div class="content">
    <ul>
      <li>南翔集团员工才可以注册此论坛,每位员工只能注册一个用户。</li>
      <li>所有论坛用户均要实名认证。</li>
      <li>在发帖、回帖中均显示昵称，不用担心别人脱你de马甲哦。</li>
      <li>OA密码不为初始密码的员工。注册成功后，马上可以看帖发贴回帖。</li>
      <li>如果没有修改过OA密码，请先到<a href="http://218.22.130.2:7890">OA的登录界面</a>修改密码后再来注册。</li>
    </div>
  </div>

</div>
