<!DOCTYPE html>
<html>
<head>
  <title>Second</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">南翔人论坛</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">首页</a></li>
              <li><a href="#about">论坛</a></li>
              <li><a href="#contact">会员</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#">登录</a></li>
              <li><a href="#">注册</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        = yield
    <hr>
    <footer class="footer">
      %p &copy; 南翔集团信息中心 2012
    </footer>